In [22]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName('CA2').getOrCreate()

In [24]:
spark

In [25]:
csv_file_path = 'C:/Python Cursos/My Projects/Name123.csv'

In [26]:
df = spark.read.csv(csv_file_path, header=True, inferSchema=True)

In [32]:
df.show()

+-------------+---+---+---+
|         Name|  1|  2|  3|
+-------------+---+---+---+
|     John Doe| 85| 78| 92|
|   Jane Smith| 90| 88| 81|
|Alice Johnson| 72| 95| 87|
|    Bob Brown| 88| 83| 79|
|Charlie Davis| 91| 76| 85|
+-------------+---+---+---+

In [34]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- 1: integer (nullable = true)
 |-- 2: integer (nullable = true)
 |-- 3: integer (nullable = true)

In [39]:
df = df.withColumnRenamed("1",  "Chemistry").withColumnRenamed("2", "Physics").withColumnRenamed("3", "Biology")

In [40]:
df.show()

+-------------+---------+-------+-------+
|         Name|Chemistry|Physics|Biology|
+-------------+---------+-------+-------+
|     John Doe|       85|     78|     92|
|   Jane Smith|       90|     88|     81|
|Alice Johnson|       72|     95|     87|
|    Bob Brown|       88|     83|     79|
|Charlie Davis|       91|     76|     85|
+-------------+---------+-------+-------+

In [41]:
from pyspark.sql.functions import split

In [45]:
df = df.withColumn("FirstName", split(df["Name"], " ").getItem(0)) \
.withColumn("Surname", split(df["Name"], " ").getItem(1))

In [46]:
df.show()

+-------------+---------+-------+-------+---------+-------+
|         Name|Chemistry|Physics|Biology|FirstName|Surname|
+-------------+---------+-------+-------+---------+-------+
|     John Doe|       85|     78|     92|     John|    Doe|
|   Jane Smith|       90|     88|     81|     Jane|  Smith|
|Alice Johnson|       72|     95|     87|    Alice|Johnson|
|    Bob Brown|       88|     83|     79|      Bob|  Brown|
|Charlie Davis|       91|     76|     85|  Charlie|  Davis|
+-------------+---------+-------+-------+---------+-------+

In [48]:
df2 = df.select("FirstName", "Surname", "Chemistry", "Physics", "Biology")

In [49]:
df2.show()

+---------+-------+---------+-------+-------+
|FirstName|Surname|Chemistry|Physics|Biology|
+---------+-------+---------+-------+-------+
|     John|    Doe|       85|     78|     92|
|     Jane|  Smith|       90|     88|     81|
|    Alice|Johnson|       72|     95|     87|
|      Bob|  Brown|       88|     83|     79|
|  Charlie|  Davis|       91|     76|     85|
+---------+-------+---------+-------+-------+

In [51]:
from pyspark.sql.functions import col

In [52]:
df2 = df2.withColumn("Total", col("Chemistry") * 0.5 + col("Physics") * 0.25 + col("Biology") * 0.25)

In [53]:
df2.show()

+---------+-------+---------+-------+-------+-----+
|FirstName|Surname|Chemistry|Physics|Biology|Total|
+---------+-------+---------+-------+-------+-----+
|     John|    Doe|       85|     78|     92| 85.0|
|     Jane|  Smith|       90|     88|     81|87.25|
|    Alice|Johnson|       72|     95|     87| 81.5|
|      Bob|  Brown|       88|     83|     79| 84.5|
|  Charlie|  Davis|       91|     76|     85|85.75|
+---------+-------+---------+-------+-------+-----+